@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Roboto:ital,wght@1,500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --fontFamily: "Merriweather", sans-serif;
  --mainColor: #f5f5f5;
  --sideColor: #3498db;
  --secondSideColor: #585858;
  --footerAndHeader: #0f2a46;
  --text: #333333;
  --Hover: #853229;
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#header {
  background-color: var(--mainColor);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1vmax 2vmax;
}
.text__quote__author,
.header__text {
  font-family: var(--fontFamily);
  color: var(--text);
  text-transform: uppercase;
  font-size: 2vmax;
}
.heaader__list {
  list-style: none;
  font-family: var(--fontFamily);
  color: var(--text);
}
.heaader__list__el {
  display: inline;
  font-family: var(--fontFamily);
  margin-inline: 1vmax;
  font-size: 1vmax;
}
.heaader__list__el:hover {
  color: var(--Hover);
  cursor: pointer;
}
.header__con {
  display: flex;
  align-items: center;
}
.header__logo {
  height: 4vmax;
  width: 5vmax;
}

/* section1 */
#section__3,
#section__2,
#section___1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10vmax 2vmax;
  gap: 1vmax;
}

.text__quote {
  text-align: center;
  font-family: var(--fontFamily);
  color: var(--Hover);
  font-size: 2.5vmax;
}

.text__quote__author {
  color: #0f2a46;
}
.proposal__author__text {
  font-family: var(--fontFamily);
  font-size: 1vmax;
}
#section__3 {
  margin: 5vmax 3vmax;
}
.long__text {
  text-align: center;
  font-family: var(--fontFamily);
  color: var(--secondSideColor);
  font-size: 1.3vmax;
}
